@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ini adalah cara yang benar untuk mendefinisikan variabel warna dasar */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Ini untuk dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Menerapkan warna ke body */
body {
  background-color: var(--background);
  color: var(--foreground);
}